<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verify</servlet-name>
        <servlet-class>Verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginProcess</servlet-name>
        <servlet-class>LoginProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProcess</servlet-name>
        <servlet-class>UploadProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignProcess</servlet-name>
        <servlet-class>AssignProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MangeProcess</servlet-name>
        <servlet-class>ManageProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProcess</servlet-name>
        <servlet-class>ManageProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify</servlet-name>
        <url-pattern>/Verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginProcess</servlet-name>
        <url-pattern>/LoginProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProcess</servlet-name>
        <url-pattern>/UploadProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignProcess</servlet-name>
        <url-pattern>/AssignProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProcess</servlet-name>
        <url-pattern>/ManageProcess</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            50
        </session-timeout>
    </session-config>
</web-app>
